#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    height: 40vh;
    cursor: pointer;
}

@media (min-width: 600px) {
    .carousel {
        height: 25vh;
    }
}

.carousel .carousel-item {
    opacity: 1 !important;
}